<div class="container">

    <p id="notice"><%= notice %></p>

    <div class="row">

      <div clas="col-md-12">
        <h1>Items</h1>
        
          <% @items.each do |item| %>
            <p>User: <%= item.user.email %></p><br/>
            <p>Title: <%= item.title %></p><br/>
            <p>Url: <%= item.url %></p><br/>
            <p>Text: <%= item.text %></p><br/>     
          
             <p><%= link_to 'Show', item %> | 
              <%= link_to 'Edit', edit_item_path(item) %> | 
              <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= link_to 'New', new_item_path %>
            </p>
          <% end %>
      </div><!-- .col-md-12 -->

     <div>
  </div>
</div>
