
<div class="container">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>User:</strong>
	  <%= @item.user.email %>
	</p>

	<p>
	  <strong>Title:</strong>
	  <%= @item.title %>
	</p>

	<p>
	  <strong>Url:</strong>
	  <%= @item.url %>
	</p>

	<p>
	  <strong>Text:</strong>
	  <%= @item.text %>
	</p>

	<ul>
		<% if @item.user == current_user %>
			<li><%= link_to 'Edit', edit_item_path(@item) %> </li> |
		<% end %>
			<li><%= link_to 'Back', items_path %></li>
	<ul>

</div><!--.container-->

